.bg-custom {
	background-color: #f5efff;
}

.navbar .nav-item:hover .nav-link {
	background-color: #ccb3ff;
	color: #f5efff;
	border-radius: 15px;
}

.btn:hover {
	background-color: #ccb3ff;
	color: #f5efff;
}